@import url("../../node_modules/rc-calendar/assets/index.css");
@import url("../node_modules/rc-select/assets/index.css");
@import url("../node_modules/react-vis/dist/style.css");
/* global body content */

.body_content {
  padding: 80px 40px 30px 290px;
}

/* css of src/components/header/ */

ul {
  padding: 0;
  margin: 0;
}

.col-xs-5,
.col-xs-7 {
  padding: 0;
  margin: 0;
}

.header_container {
  padding-top: 50px;
  width: 250px;
  position: fixed;
  height: 100vh;
  background-color: #0a001a;
  z-index: 9998;
}

.menu_item {
  color: white;
  list-style: none;
  width: 100%;
  padding: 12px 8px;
}

.menu_item_active {
  background-color: #000;
  cursor: pointer;
  color: white;
  list-style: none;
  width: 100%;
  padding: 12px 8px;
}

.menu_item_active .glyphicon {
  color: #ff6600;
}

.menu_item:hover {
  background-color: #000;
  cursor: pointer;
}

.menu_item:hover .glyphicon {
  color: #ff6600;
}

.header_top_bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #0a001a;
  z-index: 9999;
}

.glyphicon {
  margin: 0 15px;
}

.container_preloader {
  text-align: center;
  width: 100%;
  padding-top: 100px;
}

.container_small_preloader {
  text-align: center;
  width: 100%;
}

.container_preloader_center {
  display: inline-block;
}

/* css of src/components/dashboard */

.dashboard_title {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.dashboard_container_title {
  padding: 20px;
  background-color: #56666b;
  border-radius: 5px;
}

.dashboard_container_title p {
  color: white;
}

.container_stats_dashboard {
  text-align: center;
  margin-top: 40px;
}

.container_stats_dashboard span {
  font-size: 50px;
}

.container_stats_dashboard p {
  font-weight: bold;
}

.bloc_stats_dashboard {
  padding: 20px;
  color: white;
}

.bloc_stats_dashboard.users {
  background-color: #f25732;
}

.bloc_stats_dashboard.groups {
  background-color: #1e7b91;
}

/* css of src/components/users */

.page_title {
  color: white;
  font-weight: 600;
  font-size: 25px;
}

.users_container_title {
  padding: 20px;
  background-color: #f25732;
}

.users_container_title p {
  color: white;
}

.table_list {
  margin-top: 30px;
}

table.list tr {
  cursor: pointer;
}

ul.ul_modal_selected_user {
  list-style: none;
}

ul.ul_modal_selected_user li {
  padding: 7px 0;
}

h1.h1_modal_selected_user {
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
  color: white;
  background-color: #f25732;
}

.right {
  text-align: right;
}

.noPadding.col-md-4,
.noPadding.col-md-8 {
  padding: 0;
}

.selected_user_label {
  font-weight: 700;
}

.table_manage_user {
  width: 100%;
  padding: 20px;
}

.table_manage_user tr {
  height: 40px;
}

.table_manage_user tr th {
  text-align: right;
  padding-right: 15px;
}

div.button_manage_modal {
  margin-top: 35px;
  color: #17687a;
}

div.button_manage_modal input,
div.button_manage_modal button {
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
}

/* css of src/components/users/add_user_item */

.containers_form_manage input.user_manage_input {
  background-color: #cc4726;
  border: 0;
  color: white;
}

/* css of src/containers/groups */

.groups_container_title {
  padding: 20px;
  background-color: #1e7b91;
  color: white;
}

.groups_container_title p {
  color: white;
}

.select_filter {
}

.filter_bar {
  background-color: rgb(203, 206, 209);
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 10px 0;
}

/* css of src/components/groups/manage_group_item */
.containers_form_manage {
  padding: 0 20px 20px;
  color: white;
}

.containers_form_manage label {
  font-size: 14px;
  padding-left: 5px;
}

.containers_form_manage input.group_manage_input {
  font-size: 14px;
  background-color: #17687a;
  border: 0;
  color: white;
}

.containers_form_manage span.glyphicon {
  color: #f3e631;
  cursor: pointer;
  font-size: 18px;
}

.containers_form_manage .container_calendar {
  position: absolute;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3) inset;
}

h1.h1_modal_selected_group {
  font-size: 20px;
  padding: 20px;
  color: white;
  background-color: #1e7b91;
}

.container_manage_group_users_in {
  background-color: #f25732;
  color: white;
  height: 440px;
}

.container_manage_group_users_in h4 {
  padding: 20px;
}

.container_manage_group_users_in .users_in_item {
  font-size: 12px;
  text-align: center;
}

.container_manage_group_users_in .users_in_item span {
  font-size: 40px;
}

/* css of src/components/groups/add_group_item */

.error_message_add_group {
  color: rgb(189, 17, 17);
}

.btn_delete {
  float: right;
}

/* css of src/containers/statistics */

.legend_stats {
  text-align: left;
  margin-left: 40px;
}

.legend_stats span.orange {
  color: #f25732;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
}

.legend_stats span.blue {
  color: #1e7b91;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
}

.legend_stats p {
  display: inline-block;
  font-weight: normal;
}
